<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Calendar Exercise</title>
    <link href='css/styles.css' rel='stylesheet' type='text/css'>
  </head>
  <body  ng-app="myCalendar" ng-controller="calendarCtrl">
  	

<div class="container">
    <div class="center">
      <div class="form">
        <input ng-model="inputDate" type="text" placeholder="mm/dd/yyyy" ></input>
        <input ng-model="inputDays" type="text" placeholder="Number of days"></input>
        <input ng-model="inputCountry" type="text" placeholder="Country Code"></input>
        <button ng-click="generateCalendar()">View</button>
      </div>

      <div class="calendar" ng-repeat="data in calendars">
        <div class="weekdays" ng-if="$index === 0">
          <div class="wd">S</div>
          <div class="wd">M</div>
          <div class="wd">T</div>
          <div class="wd">W</div>
          <div class="wd">T</div>
          <div class="wd">F</div>
          <div class="wd">S</div>
        </div>
        <div class="header form">
          {{ data.title | date:'MMMM yyyy' }}
        </div>
        <div class="days">
          <div class="wd {{ day.class}} " ng-repeat="day in data.calendar">
            <span ng-if="day.date">{{ day.date | date:'dd' }}</span>
          </div>
          <div style="clear: both;"></div>
        </div>
      </div>

      <div class="noCalendar" ng-hide="calendars"><h3>Please use the search form the generate a new calendar</h3></div>

    </div>
  </div>


  </body>
  <script src="scripts/jquery.min.js" type="text/javascript"></script>
  <script src="scripts/angular.min.js" type="text/javascript"></script>
  <script src="scripts/controller.js" type="text/javascript"></script>
</html>
